[[source]]
name = "pypi"
verify_ssl = true
url = 

[packages]
slackclient = "*"
requests = "*"
startrek_client = "*"
vault-client = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
