[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.yandex-team.ru/simple"

[packages]
slackclient = "*"
requests = "*"
startrek_client = "*"
yandex-passport-vault-client = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
